h1 {
  text-align: center;
}
li {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(116, 0, 134, 0.8);
  color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 300px;
  cursor: pointer;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(61, 70, 240);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border: 0;
}
button:hover {
  opacity: 0.7;
}
